/* home page */

/* body {
	display: grid;
} */



footer{
	grid-column: 1/2;
}

.content a {
	text-decoration: none;
	color: silver;
	border: 1.5px dotted white;
	padding: 4px;
    color: #D9CFC0;
    background-color: #214B71;
}

.content a:hover {
    background-color: indigo;
}

img {
	grid-column: 1/2;

	display: inline-block;
}

.major, .content a {
	grid-column: 2/3;
}