.z-pattern footer h2 {
    color: white;
}

.z-pattern h1, .z-pattern h2, .z-pattern h3 {
    font-family: Montserrat, serif;
}

.z-pattern h1 {
    font-size: 72px;
}

.z-pattern h2 {
    font-size: xx-large;
}

.z-pattern h3 {
    font-size: x-large;
}

.z-pattern label, input, button {
    font-size: large;
    font-family: Noto Sans JP, serif;
}

.z-pattern main img {
    padding: 2em;
    box-shadow: 2px 9px 9px 4px;
    background-color: rgba(255, 255, 255, 0.75);
}

.title, .login {
    margin-top: 1em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 2px 9px 9px 4px;
}

.login h2 {
    text-align: center;
}

.login label, .login input, .login button {
    display: block;
    margin-top: 0.35em;
}

.login button {
    margin: 1em auto;
}

button, footer a {
    background: #3340ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.5em 1em;
    text-decoration: none;
}

.login button:hover {
    background: white;
    color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.z-pattern {
    background-image: url("../images/brain.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.z-pattern main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.z-pattern header, .z-pattern footer {
    position: fixed;
    width: 95%;
    left: 2.5%;
}

.z-pattern header {
    top: 0;
}

.z-pattern footer {
    bottom: 0;
}

.z-pattern a:hover {
    background: white;
    color: black;
}

@media (max-height: 848px) {
    .z-pattern header, .z-pattern footer {
        position: relative;
    }

    .z-pattern main {
        min-height: unset;
    }
}

@media (max-width: 586px) {
    .z-pattern h2 {
        font-size: x-large;
    }

    .z-pattern h3 {
        font-size: large;
    }
}

@media (max-width: 650px) {
    input {
        margin: 0 auto;
    }

    .container {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 1074px) {
    main img {
        display: none;
    }
}