/* home page */

header {
	padding-top: 8%;
}
@media (max-width: 600px){
    header {
        padding-top: 30px;
    }
}


.background article {
    /* grid specifications w/in article */
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background: none;
    align-content: center;
 }
@media (max-width: 600px){
    .background article {
        display: block;
    }
}


.column_1 {
	text-align: center;

	grid-column: 1/2;
	background-image: url(../images/jean.jpg);
}
@media (max-width: 600px){
    .column_1{
        margin-bottom: 50px;
    }
}

.column_2 {
	text-align: center;

	grid-column: 2/3;
    background-image: url(../images/jean.jpg);
}
@media (max-width: 600px){
    .column_2{
        margin-bottom: 50px;
    }
}

.column_3 {
	text-align: center;

	grid-column: 3/4;
    background-image: url(../images/jean.jpg);
}

footer {
	grid-column: 1/4;
	text-align: center;

	font-style: italic;
	color: silver;
    font-size: 15px;

}

.background a {
	text-decoration: none;
	color: silver;
	border: 1.5px dotted white;
	padding: 4px;
    color: #D9CFC0;
    background-color: #214B71;
}

.background a:hover {
    background-color: indigo;
}

img {
	height: 300px;
	border: 7px solid #214B71;
	box-shadow: 3px 3px #1a3e5f;
}

h2 {
	font-size: 20px;
	text-align: center;
}

.major {
	list-style-type: square;
	line-height: 1.5;
	padding-bottom: 8px;

}

