@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* SMACSS */

/* Base Rules */
.z-pattern {
	color: white;
}
/* Layout Rules */
header .container, footer .container, main {
	margin: 0 auto;
	width: 95%;
	max-width: 1200px;
}
header, footer {
	position: fixed;
	left: 0;
	width: 100%;
	background-color: #001328;
}
header { top: 0; }
footer { bottom: 0; }
header .container, footer .container { 
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Center Z-pattern */
.z-pattern main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.z-pattern {
	background-image: url("../images/brain.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top 80px bottom 80px;
}
