@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP');

.b-login {
	background-color: #00192f;
	font-size: 16pt;
	height: 100vh;
  	display: flex;
}

.login {
	background-color: #00ade7;
	padding: 30px;
	border-radius: 10px;
	margin: auto;
}

.last-line {
	margin-top: 20px;
	margin-bottom: 15px;
}

.can {
	color: #00192f;
	text-decoration: none;
}

.can:hover {
	color: #ff4f4f;
	text-decoration: none;
}

.muted-text {
	font-size: 15px;
}

.float-right {
	float: right;
}