/* Menu from Qi Miao */

.menu {
    width: 100%;
    height: 80px;
    background-color: black;

    position: fixed;
    z-index: 5;
}    
@media (max-width: 600px){
    .menu {
        position: initial;
        height: initial;
    }
}


.menu ul {
    display: flex;
    justify-content: center;
    
    padding: 0;

    list-style-type: none;
}
@media (max-width: 600px){
    .menu ul {
        display: block;
        margin: 0;
    }
}



.menu li {
    margin-left: 5px;
    margin-right: 5px;
}



.menu li a.is-current {
    color: #214B71;
    background-color: #D9CFC0;
}

.menu a {
    border: 2px dotted #ffffff;

    text-decoration: none;
    display: block;
    color: #D9CFC0;
    background-color: #214B71;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

.menu a:hover {
    background-color: indigo;
    border: 0px solid;
}