/* SMACSS */

/* Layout Rules */
.menu a {
    text-decoration: none;
    padding: 0;
}

.menu li{
    padding: 0 10px;
}

.menu {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.menu h1, .menu ul {
    margin: 0 auto;
}

/* Module Rules */
nav {
    background-color: #00192f;
}
.logo {
    text-decoration: none;
    background-color: #00ade7;
    border-radius: 5px;
    padding: 5px;
}
menu h1, .menu a {
    font-family: Oswald, serif;
    font-size: large;
    font-weight: bold;
    color: white;
}

.nav-home{
    border-right: solid 1px white;
}

/* State Rules */
.menu h1:hover,
.menu a:hover {
    color: white!important;
}

.menu .is-current {
    color: white!important;
}

@media (max-width: 992px) {
    .nav-home{
        border-right: none;
    }
    .menu li{
        padding: 0;
    }
}