/* Menu from Qi Miao */
/* Module 
   ***** */

.menu {
    width: 100%;
    height: 80px;
    background-color: black;

    position: fixed;
    z-index: 5;
}    


.menu ul {
    display: flex;
    justify-content: center;
    /*padding: 2% 0px 2% 0px;*/
    padding: 0;
}


.menu li {
    display: block;
    border: 2px dotted #ffffff;
    margin-left: 5px;
    margin-right: 5px;
}



.menu li a.is-current {
    color: #214B71;
    background-color: #D9CFC0;
}

.menu a {
    text-decoration: none;
    display: block;
    color: #D9CFC0;
    background-color: #214B71;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

/* State 
   ***** */

.menu a:hover {
    background-color: indigo;
    border: 0px;
}