.background {
    /* grid specifications */
    width: 100%;
    
    margin: auto;
    margin-left: 0;

    position: absolute;
    /* instruction of z-index from 
    freecodecamp.org */
    z-index: 3;
    /* background-color: indigo; */ 
    background-image: url(../images/jean.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    color: white;
    font-family: Arial, "Times New Roman", sans-serif;
    margin-top: 33%;
    
    margin-right: -8px;
    /*margin-left: -8px;*/
    border-top: 1px solid gray;
    line-height: 1.5;
}
@media (max-width: 600px){
    .background{
        position: initial;
        margin-top: 0;

    }
}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;

    margin: 0 auto;
    width: 85%;
    max-width: 1000px;
}
@media (max-width: 600px){
    .container{
        display: block; 
    }
}


.background article {
    grid-column: 1/3;

}

.background aside {
    grid-column: 3/4;
    color: silver;
    font-family: 'Montserrat', sans-serif;
    /* instructions from css-tricks.com */
    transform: rotate(-3deg);
}
@media (max-width: 600px){
    .background aside{
        transform: none;
    }
}

header {
    /* background-color: #4A87A1; */
    /* background from wallpapercave.com */
    background-image: url(../images/bubbles.png); 

    text-align: center;
    color: #D9CFC0;

    padding-bottom: 20%;
    padding-top: 10%;

    position: fixed;
    width: 100%;

    z-index: 2;
}
@media (max-width: 600px){
    header {
        position: initial;
        padding-top: 30px;

        padding-bottom : 30px;

    }
    h1{
        margin-top: 0;
    }
}



h2 {
    font-style: italic;
}


footer {
    margin-top: 30px;

    grid-column: 1 / 4;
    text-align: center;

    font-style: italic;
    color: silver;
    font-size: 15px;
}

body {
    margin: 0;
}

.is-current{
    background-color: indigo;
    border: 0px;
}