@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* SMACSS */

/* Base Rules */

body {
	
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#wrapper {
	background-color: rgb(0,173,231, 0.5);
}
img {
    height: 270px;
    margin: 15px;
}

p{
    line-height: 1.6em;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin-bottom: 20px;
    margin-top: 140px;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}

h2{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

h3{
    font-size: 16px;
    color: #3d3d3d;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    margin: 50px 0 0 0;
    padding: 20px 0;
    width: 100%;
    font-family: Oswald, serif;
}

li{
    margin: 8px 0;
}

/* Layout Rules */
#wrapper {
    flex: 1;
}

.section{
    margin-bottom: 80px;
}

.container {
    display: grid;
    width: 80%;
    max-width: 1150px;
    margin: 0 auto;
}

.profile {
    display: flex;
    width: 100%;
    margin: 70px 0;
    padding: 10px;
}

.split {
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    column-gap: 20px;
}

.profile_img {
    transform: translateX(-65px);
    position: relative;
}

.view-page {
    padding: 20px;
    margin-right: 10px;
    margin-top: 80px;
}

.view-page a{
    padding-left: 14px;
    font-family: 'Roboto', sans-serif;
}

.edit-delete{
    text-align: center;
}

.edit-delete a{
    color: #8552f1;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 0 2.5px;
    transition: 0.5s;
}


.individual img {
    height: 250px;
    margin-left: 30px;
    border-radius: 25px;
    padding-bottom: 10px;
}

.person {
    display: flex;
    margin: 50px 10px 50px 10px;
}

.person figure {
    margin: 20px 0 0 0;
}

.box1 {
    margin: 10px 10px 10px 10px;
    padding: 30px;
}

.basic {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 50% auto;
    grid-template-areas:
            "one two"
            "three four";
}

.one{
    grid-area: one;
}

/* Module Rules */
.profile {
    border-radius: 0.8rem;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to left, rgba(250, 109, 113, 0.79) 0%, rgba(254, 210, 86, 0.68) 100%);
}

.profile_img img {
    border-radius: .8rem;
    border: 1px solid #dddddd;
    max-width: 270px;
}

.view-page {
    text-align: center;
}

.view-page a{
    text-decoration: none;
    color: #ffffff;
    background-size: 7px;
    background: url('../images/arrow.svg') no-repeat 0 3px;
    transition: 0.5s;
}

.view-page a:hover{
    color: black;
    transition: 0.5s;
}

.edit-delete a:hover{
    color: #311e59;
    transition: 0.5s;
}

.submit:hover{
    background-image: linear-gradient(120deg, #1c2399 0%, #4c2c87 100%);
}

.person {
    border-radius: 25px;
    background-image: linear-gradient(to left, rgba(250, 109, 113, 0.79) 0%, rgba(254, 210, 86, 0.68) 100%);
}


.box1 {
    border-radius: 25px;
    background-color:  rgba(255, 230, 204, 0.8);
}

.box2 {
    border-radius: 25px;
    background-color:  #ccccff;
}

.basic h3 {
    color:black;
}

.submit{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
}

.bg-dark{
    background-color: black!important;
}

.btn-primary{
    background-image: linear-gradient(120deg, #2e39fc 0%, #6c3ebf 100%);
    border: 1px solid black;
}