.menu {
	position: absolute;
	left: 0;
	right: 0;
	top: 10%;
}


.menu ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style-type: none;
	background-color: black;
	padding: 2px 3% 2px 3%;



	/* w3schools.com */
	position: sticky;
	top: 0px;
}

.menu li a:hover {
	/* htmlcsscolor.com */
	color: #ABCDEF;
}

.menu li a {
	text-decoration: none;
	color: white;


}

.is-current {
	font-weight: bold;
}

